@import "public/fonts/TT_Travels/stylesheet.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "TT Travels";
  background-color:#FAFAFA ;
}

@layer utilities {
  .min-w-inherit {
    min-width: inherit;
  }

  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #F9F9F9;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(242, 135, 54, 0.59);
    border-radius: 100vh;
    background: rgba(242, 135, 54, 0.59);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  .scrollbar-mini::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  .scrollbar-mini::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #F9F9F9;
  }

  .scrollbar-mini::-webkit-scrollbar-thumb {
    background: rgba(242, 135, 54, 0.59);
    border-radius: 100vh;
    background: rgba(242, 135, 54, 0.59);
  }

  .scrollbar-mini::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

}

